.module{
    width: 100%;
    height: auto;
    min-height: 60px;
    border-bottom: 1px solid #BDBDBD;

}

a{
    text-decoration: none;
}

a:link{
color:black
}

a:visited{
    color:black;
}



.module:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}
.title_module {
    width: 90%;
    padding: 6px 6px 2px 6px;
}

.value_module{
    margin: 0px;
    padding: 0 6px 0 6px;
    font-size: 13px;
    color:#00C853;
}